.tabBar
  +size(200px, 100vh)
  +positionStickyWithOffset(0, 0, auto, auto)
  +shadowTabBar
  +display-flex
  +flex-direction(column)
  +flex-shrink(0)
  z-index: 10
  background-color: $colorBackgroundDark
  
  .header
    +size(100%, 62px)
    +display-flex
    +align-items(center)
    +justify-content(center)
    +shadowSeparatorOnDark
    .logo
      +iconTabBarLogo

  .navigationSection
    +size(100%, auto)
    +contentEdgeInsets(12px, 12px, 12px, 8px)
    +noUserSelect
    +cursorDefault
    box-sizing: border-box
    
    .navigationItem
      +size(100%, 40px)
      +display-flex
      +flex-direction(row)
      +align-items(center)
      +contentEdgeInsets(8px, 8px, 8px, 8px)
      +offset(0, 0, 0, 4px)
      +clipToBounds
      +cornerRadius(7px)
      +cursorAction
      +interactionTransition
      box-sizing: border-box
      background-color: $colorClear
      
      .icon
        +size(24px, 24px)

      .title
        +offset(6px, 0, 0, 0)
        +fontFootnoteEmphasized
        color: $colorAction
        opacity: 0.8

      &:hover
        background-color: $colorActionTranslucent

      &:active
        +interactionTapScale

      &.selected
        background-color: $colorTint
        .title
          color: $colorTitleSecondary
          opacity: 1

      &.overview
        .icon
          +iconTabBarOverview
        &.selected
          .icon
            +iconTabBarOverviewSelected

      &.conversations
        .icon
          +iconTabBarConversations
        &.selected
          .icon
            +iconTabBarConversationsSelected

      &.workflow
        .icon
          +iconTabBarWorkflow
        &.selected
          .icon
            +iconTabBarWorkflowSelected

      &.clients
        .icon
          +iconTabBarClients
        &.selected
          .icon
            +iconTabBarClientsSelected

      &.services
        .icon
          +iconTabBarServices
        &.selected
          .icon
            +iconTabBarServicesSelected

      &.settings
        .icon
          +iconTabBarSettings
        &.selected
          .icon
            +iconTabBarSettingsSelected

  .bottomActions
    +size(100%, auto)
    +display-flex
    +flex-direction(column)
    +contentEdgeInsets(12px, 12px, 12px, 12px)
    +positionAbsoluteWithOffset(auto, auto, 0, 0)
    +noUserSelect
    +cursorDefault
    box-sizing: border-box

    .customerDetails
      +size(100%, 56px)
      +contentEdgeInsets(10px, 10px, 10px, 10px)
      +display-flex
      +flex-flow(row)
      +align-items(center)
      +flex-shrink(1)
      +clipToBounds
      +cornerRadius(7px)
      +cursorAction
      +noUserSelect
      +interactionTransition
      box-sizing: border-box
      background-color: $colorActionTranslucentCell

      .profilePicture
        +size(36px, 36px)
        +cornerRadius(50%)
        +clipToBounds
        background-color: $colorBackgroundPlaceholder

      .details
        +offset(6px, 0, 0, 0)
        .fullName
          +fontSubheadEmphasized
          color: $colorTitleSecondary
        .clinicName
          +fontFootnote
          color: $colorTitleSecondary
          opacity: 0.60

      &:hover
        background-color: $colorActionTranslucent
      
      &:active
        +interactionTapScale

  &.compact
    +size(64px, 100vh)
    .header
      +size(100%, 62px)
      +shadowNone
      .logo
        +iconTabBarLogoCompact

    .navigationItem
      +justify-content(center)
      .title
        display: none
        +offset(0, 0, 0, 0)

    .bottomActions
      +size(100%, auto)
      +contentEdgeInsets(0, 0, 0, 0)

      .customerDetails
        +justify-content(center)
        background-color: $colorClear
        .details
          display: none
