=spriteSettings
  background-image: url('/resources/images/sprite.svg')
  display: inline-block

=iconTabBarLogo
  +spriteSettings
  +size(168px, 40px)
  background-position: 0 0

=iconTabBarLogoCompact
  +spriteSettings
  +size(24px, 24px)
  background-position: -180px -8px

=iconTabBarOverview
  +spriteSettings
  +size(24px, 24px)
  background-position: -8px -48px

=iconTabBarOverviewSelected
  +spriteSettings
  +size(24px, 24px)
  background-position: -8px -80px

=iconTabBarConversations
  +spriteSettings
  +size(24px, 24px)
  background-position: -40px -48px

=iconTabBarConversationsSelected
  +spriteSettings
  +size(24px, 24px)
  background-position: -40px -80px

=iconTabBarWorkflow
  +spriteSettings
  +size(24px, 24px)
  background-position: -72px -48px

=iconTabBarWorkflowSelected
  +spriteSettings
  +size(24px, 24px)
  background-position: -72px -80px

=iconTabBarAppointments
  +spriteSettings
  +size(24px, 24px)
  background-position: -104px -48px

=iconTabBarAppointmentsSelected
  +spriteSettings
  +size(24px, 24px)
  background-position: -104px -80px

=iconTabBarClients
  +spriteSettings
  +size(24px, 24px)
  background-position: -136px -48px

=iconTabBarClientsSelected
  +spriteSettings
  +size(24px, 24px)
  background-position: -136px -80px

=iconTabBarServices
  +spriteSettings
  +size(24px, 24px)
  background-position: -168px -48px

=iconTabBarServicesSelected
  +spriteSettings
  +size(24px, 24px)
  background-position: -168px -80px

=iconTabBarSettings
  +spriteSettings
  +size(24px, 24px)
  background-position: -200px -48px

=iconTabBarSettingsSelected
  +spriteSettings
  +size(24px, 24px)
  background-position: -200px -80px

=iconConversationChatCellUnread
  +spriteSettings
  +size(10px, 10px)
  background-position: -8px -112px

=iconConversationChatCellUnreadSelected
  +spriteSettings
  +size(10px, 10px)
  background-position: -26px -112px

=iconConversationChatCellFollowUp
  +spriteSettings
  +size(10px, 10px)
  background-position: -44px -112px

=iconConversationChatCellFollowUpSelected
  +spriteSettings
  +size(10px, 10px)
  background-position: -62px -112px

=iconConversationContextDetailsPatientTypeDog
  +spriteSettings
  +size(28px, 28px)
  background-position: -8px -130px

=iconConversationContextDetailsPatientSymptoms
  +spriteSettings
  +size(28px, 28px)
  background-position: -44px -130px

=iconConversationContextDetailsConsultationStatus
  +spriteSettings
  +size(28px, 28px)
  background-position: -80px -130px

=iconConversationContextDetailsConsultationSuspectedDiagnosis
  +spriteSettings
  +size(28px, 28px)
  background-position: -116px -130px

=iconConversationContextDetailsConsultationPriorityNone
  +spriteSettings
  +size(28px, 28px)
  background-position: -152px -130px

=iconConversationContextDetailsConsultationPriorityLow
  +spriteSettings
  +size(28px, 28px)
  background-position: -188px -130px

=iconConversationContextDetailsConsultationPriorityMedium
  +spriteSettings
  +size(28px, 28px)
  background-position: -224px -130px

=iconConversationContextDetailsConsultationPriorityHigh
  +spriteSettings
  +size(28px, 28px)
  background-position: -260px -130px

=iconConversationContextDetailsConsultationOpened
  +spriteSettings
  +size(28px, 28px)
  background-position: -296px -130px

=iconConversationContextDetailsConsultationReminderEmpty
  +spriteSettings
  +size(28px, 28px)
  background-position: -332px -130px

=iconConversationChatInputActionSend
  +spriteSettings
  +size(24px, 24px)
  background-position: -138px -166px

=iconConversationChatInputActionVideo
  +spriteSettings
  +size(16px, 10px)
  background-position: -8px -166px

=iconConversationChatInputActionVideoSelected
  +spriteSettings
  +size(16px, 10px)
  background-position: -32px -166px

=iconConversationChatInputActionAttachment
  +spriteSettings
  +size(11px, 14px)
  background-position: -100px -166px

=iconConversationChatInputActionAttachmentSelected
  +spriteSettings
  +size(11px, 14px)
  background-position: -119px -166px

=iconConversationChatInputActionAppointment
  +spriteSettings
  +size(14px, 14px)
  background-position: -56px -166px

=iconConversationChatInputActionAppointmentSelected
  +spriteSettings
  +size(14px, 14px)
  background-position: -78px -166px

=iconServiceWellnessPlan
  +spriteSettings
  +size(24px, 24px)
  background-position: -8px -198px

=iconTableViewCellAccessoryDisclosureIndicator
  +spriteSettings
  +size(8px, 12px)
  background-position: -40px -230px

=iconTableViewCellAccessoryDisclosureIndicatorActive
  +spriteSettings
  +size(8px, 12px)
  background-position: -56px -230px

=iconTableViewCellAccessoryPopUp
  +spriteSettings
  +size(8px, 16px)
  background-position: -8px -230px

=iconTableViewCellAccessoryPopUpActive
  +spriteSettings
  +size(8px, 16px)
  background-position: -24px -230px
